.idea/
fastr_javaui/bin
fastr_javaui/test.png
fastr_node/node_modules/
weather_predictor/node_modules/
weather_predictor/openweather/
weather_predictor/rlang/
weather_predictor/bin/
fastr_rJava/RJavaBench.java
fastr_rJava/RJavaBench.class
