name: espresso-jshell
on:
  push:
    paths:
      - 'espresso-jshell/**'
      - '.github/workflows/espresso-jshell.yml'
  pull_request:
    paths:
      - 'espresso-jshell/**'
      - '.github/workflows/espresso-jshell.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
jobs:
  run:
    name: Run 'espresso-jshell'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '17'
          distribution: 'graalvm'
          components: 'espresso'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run 'espresso-jshell'
        run: |
          cd espresso-jshell
          ./build-espresso-jshell.sh
          echo "Math.PI" | ./espresso-jshell
