name: fortune-demo
on:
  push:
    paths:
      - 'fortune-demo/**'
      - '.github/workflows/fortune-demo.yml'
  pull_request:
    paths:
      - 'fortune-demo/**'
      - '.github/workflows/fortune-demo.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
jobs:
  run:
    name: Run 'fortune-demo'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run 'fortune'
        run: |
          cd fortune-demo/fortune-maven
          ./build.sh
      - name: Run 'fortune-gradle'
        run: |
          cd fortune-demo/fortune-gradle
          ./build.sh    
      - name: Run 'staticfortune'
        run: |
          cd fortune-demo/staticfortune
          ./build.sh
