name: micronaut-hello-rest-maven
on:
  push:
    paths:
      - 'micronaut-hello-rest-maven/**'
      - '.github/workflows/micronaut-hello-rest-maven.yml'
  # pull_request: (requires EE, which is unavailable in PRs)
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
jobs:
  run:
    name: Run 'micronaut-hello-rest-maven'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '17'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-job-reports: 'true'
      - name: Run 'micronaut-hello-rest-maven'
        run: |
          cd micronaut-hello-rest-maven
          mvn --no-transfer-progress clean package
          mvn --no-transfer-progress package -Dpackaging=native-image
          ./target/MnHelloRest &
          sleep 5
          curl "http://localhost:8080/Micronaut-Graal-Native"
