name: native-shared-library
on:
  push:
    paths:
      - 'native-shared-library/**'
      - '.github/workflows/native-shared-library.yml'
  pull_request:
    paths:
      - 'native-shared-library/**'
      - '.github/workflows/native-shared-library.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write # for `native-image-pr-reports` option
jobs:
  run:
    name: Run 'native-shared-library'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        version: [latest, dev]
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          version: ${{ matrix.version }}
          java-version: '19'
          components: 'native-image,llvm-toolchain'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
          native-image-pr-reports: 'true'
      - name: Run 'native-shared-library'
        run: |
          cd native-shared-library
          javac LibEnvMap.java
          native-image -H:Name=libenvmap --shared 
          clang -I ./ -L ./ -l envmap -Wl,-rpath ./ -o main main.c
          ./main USER
