name: native-heapdump-examples
on:
  push:
    paths:
      - 'native-heapdump-examples/**'
      - '.github/workflows/native-heapdump-examples.yml'
  pull_request:
    paths:
      - 'native-heapdump-examples/**'
      - '.github/workflows/native-heapdump-examples.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
jobs:
  run:
    name: Run 'native-heapdump-examples'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: ['21', 'dev']
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Run 'native-heapdump-examples'
        run: |
          cd native-heapdump-examples
          javac HelloWorld.java
          native-image HelloWorld --enable-monitoring=heapdump
          ./helloworld -XX:+DumpHeapAndExit
          javac SVMHeapDump.java
          native-image SVMHeapDump --enable-monitoring=heapdump
          ./svmheapdump
          javac SVMHeapDumpAPI.java
          native-image SVMHeapDumpAPI
          ./svmheapdumpapi --heapdump
