name: native-static-images
on:
  push:
    paths:
      - 'native-static-images/**'
      - '.github/workflows/native-static-images.yml'
  pull_request:
    paths:
      - 'native-static-images/**'
      - '.github/workflows/native-static-images.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
jobs:
  run-static:
    name: Run static 'native-static-images'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: ['21', 'dev']
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java-version }}
          components: 'native-image'
          native-image-musl: 'true'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Run static 'native-static-images'
        run: |
          cd native-static-images
          javac EnvMap.java
          native-image --static --libc=musl EnvMap
  run-mostly-static:
    name: Run mostly-static 'native-static-images'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: ['17', 'dev']
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Run mostly-static 'mostly-static-image'
        run: |
          cd native-static-images
          javac EnvMap.java
          native-image -H:+StaticExecutableWithDynamicLibC EnvMap

