name: native-hello-module
on:
  push:
    paths:
      - 'native-hello-module/**'
      - '.github/workflows/native-hello-module.yml'
  pull_request:
    paths:
      - 'native-hello-module/**'
      - '.github/workflows/native-hello-module.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write # for `native-image-pr-reports` option
jobs:
  run:
    name: Run 'native-hello-module'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        version: [latest, dev]
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          version: ${{ matrix.version }}
          java-version: '19'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-job-reports: 'true'
          native-image-pr-reports: 'true'
      - name: Run 'native-hello-module'
        run: |
          cd native-hello-module
          mvn --no-transfer-progress package
          native-image --module-path target/HelloModule-1.0-SNAPSHOT.jar --module HelloModule
          ./hellomodule
