name: native-image/build-java-modules
on:
  push:
    paths:
      - 'native-image/build-java-modules/**'
      - '.github/workflows/native-image-build-java-modules.yml'
  pull_request:
    paths:
      - 'native-image/build-java-modules/**'
      - '.github/workflows/native-image-build-java-modules.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
jobs:
  run:
    name: Run 'native-image/build-java-modules'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: ['21', '24-ea']
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-job-reports: 'true'
      - name: Run 'native-image/build-java-modules'
        run: |
          cd native-image/build-java-modules
          ./run.sh
