name: spring-native-image
on:
  push:
    paths:
      - 'spring-native-image/**'
      - '.github/workflows/spring-native-image.yml'
  pull_request:
    paths:
      - 'spring-native-image/**'
      - '.github/workflows/spring-native-image.yml'
  schedule:
    - cron: "0 0 1 * *" # run every month
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write # for `native-image-pr-reports` option
jobs:
  run:
    name: Run 'spring-native-graal'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        version: [22.3] # temporarily locked to 22.3 for Spring Boot 3 compatibility
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          version: ${{ matrix.version }}
          java-version: '17'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-job-reports: 'true'
          native-image-pr-reports: 'true'
      - name: Run 'spring-native-image'
        run: |
          cd spring-native-image
          mvn --no-transfer-progress package
          mvn --no-transfer-progress package native:compile -Pnative
          ./target/benchmark-jibber &
          sleep 5
          curl http://localhost:8080/jibber
